.custom-bg {
    background: url("../img/bg-main.png") no-repeat top/cover;
}

*:focus-visible {
    outline-width: 0 !important;
}

*:focus {
    outline-width: 0 !important;
}

.collapse {
    &:focus-visible, &:has(> input:is([type="checkbox"], [type="radio"]):focus-visible) {
        outline-color: var(--color-base-content);
        outline-style: solid;
        outline-width: 0;
        outline-offset: 2px;
    }
}


.custom-button::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 6px solid #FFFFFF;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
    pointer-events: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}


.custom-button2 {
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid #4A4A4A;
    padding: 10px 20px;
    font-size: 30px;
    color: white;
    backdrop-filter: blur(22.1px);
    transition: background-color 0.3s ease-in-out;
    position: relative;
    height: 65px;
    width: 346px;
    justify-items: center;
    align-items: center;
    margin: 0 10px;
}

.custom-button2:hover {
    background-color: rgba(0, 0, 0, 0.6);
}


.full-screen-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


@keyframes borderPulsing {
    0% {
        border-color: transparent;
        border-width: 1px;
        border-radius: 1000px;
    }
    25% {
        border-color: rgba(250, 250, 250, 0.15);
        border-radius: 1000px;
    }
    50% {
        border-color: rgba(250, 250, 250, 0.5);
        border-radius: 1000px;
    }
    75% {
        border-color: rgba(250, 250, 250, 0.15);
        border-radius: 1000px;
    }
    100% {
        border-color: transparent;
        border-width: 1px;
        border-radius: 1000px;
    }
}


.animated-border {
    animation: borderPulsing 10s infinite linear;
}

.line {
    border-left: 2px solid #ffffff;
    padding-left: 12px;
    margin: 8px 0;
    color: #fff;
    white-space: pre-line;
}


/*тут конец*/


.stock-ticker {
    padding-block: 8px;
    overflow: hidden;
    user-select: none;

    --gap: 32px;
    display: flex;
    gap: var(--gap);
    height: 100px;
    min-height: 56px;
    width: 60%;
}


.stock-ticker ul {
    list-style: none;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap);
    animation: scroll 30s linear infinite;
    min-width: auto;
}

.stock-ticker:hover ul {
    animation-play-state: paused;
}


@keyframes scroll {
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}




